/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    background-image: var(--page-background-image);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    justify-self: center;
    display: grid;
    gap: 60px;
}

.header {
  position: relative;
  display: grid;
  min-block-size: 100vh;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  padding-inline-start: 0;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  margin-block-end: 122px;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-inline-start: 20px;
}

.header__theme-menu-button {
  color: var(--color-red-1, #FF0070);
  font-family: IBM Plex Mono, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  padding: 1.5px 13px;
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--highlight-color, #FF0070);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-hover-1, #FF007066);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: var(--highlight-color, #FF0070);
}

.rec {
  position: absolute;
  inset-inline-end: 30px;
  inset-block-start: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  visibility: var(--rec-wanish, visible);
}

.rec::before {
  content: 'REC';
  color: var(--color-red-1, #FF0070);
  line-height: 25px;
  font-size: 18px;
}

.rec::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--color-red-1, #FF0070);
  background: var(--color-red-1, #FF0070);
  inline-size: 9px;
  block-size: 9px;
}

.page-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--color-red-2, #DB00FF);
  font-weight: 700;
  font-family: IBM Plex Mono, sans-serif;
  text-shadow: 4px 4px 0 var(--secondary-color, #FF0070);
  margin-block-start: 4px;
  margin-block-end: 16px;
}

/* inline-size: clamp(364px, calc(100% / 2 - 10px), 491px) */

.header-text {
  width: 491px;
  height: 71px;
  background-color: var(--color-red-1, #FF0070);
  color: var(--color-black-1, #000028);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  justify-self: end;
  margin-block-end: -2px;
}

.border-decor::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--color-red-1, #FF0070);
  border-block-start: 1px solid var(--color-red-1, #FF0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.border-decor::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--color-red-1, #FF0070);
  border-block-end: 1px solid var(--color-red-1, #FF0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.main {
  display: grid;
  gap: 79px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;

}

.section-why {
  display: grid;
  grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  column-gap: 32px;
}

.title {
  color: var(--highlight-color, #FF0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.title-decor {
  background-color: var(--color-red-1, #FF0070);
  color: var(--color-black-1, #000028);
}

.articles-list {
  display: grid;
  gap: 20px;
}

.articles-list-why {
  flex-direction: column;
}

.articles-list-what {
  grid-template-columns: repeat(3, 1fr);
}

p {
  color: var(--color-blond-1, #F1B2CE);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-red-1, #FF0070);
}

.link:hover {
  border-block-end: 1px solid var(--color-blond-1, #F1B2CE);
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid 
}

.section-what h2 {
  width: 100%;
  max-width: 315px;
  margin-block-end: 22px;
}

.section-how {
  display: grid;
  grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  column-gap: 32px;
}

.articles-list-how {
  display: flex;
  flex-direction: column;
  margin-block-start: 20px;
  gap: 20px;
}

.article h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.background-title-how {
  color: var(--color-black-1, #000028);
  background-color: var(--color-red-1, #FF0070);
}

.image-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image-list-item:first-child {
  grid-column-start: span 2;
}

.image-list-item:nth-child(2) {
  grid-row-start: span 2;
}

.image-list-item:nth-child(3) {
  grid-row-start: span 2;
}

.image-list-item:last-child {
  grid-column-start: span 2;
}

img {
display: block;
object-fit: cover;
object-position: center;
block-size: 100%;
inline-size: 100%;
}

.section-img h2 {
  margin-block-end: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.footer-title {
  text-shadow: 2px 2px 0 var(--color-red-1, #FF0070);
  margin-block-end: 1px;
}

.footer {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
  position: relative;
  align-content: center;
  justify-content: center;
}



@media (width <= 768px) {
  /* .header {
    padding-inline-start: 0;
  } */


    .header__theme-menu {
      justify-content: end;
      margin-block-start: 17px;
    }
  
    .header__theme-menu-list {
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-block-start: 112px;
      margin-block-end: -15px;
    }
    
    .page-title {
      margin-block-start: 0px;
      padding-block-start: 0px;
      padding-block-end: 67px;
    }

    .header-text {
      justify-self: end;
      inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
      height: 117px;
      margin-block-end: 72px;
    }

    .section-why {
      gap: 20px;
    }

    .articles-list-what {
      grid-template-columns: none;
    }

    .section-what h2 {
      max-width: 230px;
      width: 100%;
      margin-block-end: 19px;
    }

    .section-how {
      column-gap: 20px;
    }

    .footer-title {
      margin-block-start: 75px;
    }
}

@media (width <= 375px) {
  .header {
    padding-inline-start: 10px;
    min-block-size: 100vh;
  }

  .header__theme-menu {
    margin-block-end: 39px;
    margin-block-start: 36px;
  }

  .header__theme-menu-list {
    margin: 0;
    gap: 15px;
  }

  .page-title {
    font-weight: 700;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 82.5%;
    margin: 0;
    padding: 0;
  }

  .header-text {
    margin: 0;
    max-width: 355px;
    width: 100%;
    margin-block-start: 29px;
  }

  .rec {
    inset-inline-end: 20px;
    inset-block-start: 10px;
  }

  .section-why {
    display: block;
  }

  .section-why h2 {
    margin-block-start: -10px;
    margin-block-end: 20px;
  }

  .section-what {
    display: block;
  }

  .section-what h2 {
    max-width: 275px;
    width: 100%;
  }

  .section-how {
    display: block;
  }

  .page {
    gap: 50px;
  }

  .main {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    gap: 50px;
  }

  div .title-decor {
    margin-block-start: 18px;
    font-size: 18px;
  }

  .section-img h2 {
    margin-block-end: 10px;
  }

  .image-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    margin-block-start: -10px;
  }

}