/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --color-text: #FF0070;
  --page-background-image: url("../images/cover-image-dark.png");
  --page-title-color: #DB00FF;
  --accent-color: #FF0070;
  --broder-color-hover: #FF007066;
  --color-text-header: #000028;
}