/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --page-background-image: url("../images/cover-image-dark.png");

  --color-red: #FF0070;
  --color-violet: #DB00FF;
  --color-pink: #FF8DCB;

  --color-blond: #F1B2CE;
  --color-white-pink: #FFC2E6;

  --color-black: #000028;
  --color-grey: #353430;

  --border-color-hover-brown: #FF007066;
  --border-color-hover-black: #32312D66;

  --secondary-color: var(--color-red, #FF0070);
  --highlight-color: var(--color-red, #FF0070);

  --rec-wanish: visible;
}